<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	td, th {
		border: 1px solid black;
	}
	
	table {
		border-collapse: collapse;
	}
</style>
</head>
<body>
	<h1>Lista de empleados</h1>
	
	<table>
	  <tr>
	    <th>Nombre</th>
	    <th>Puesto</th>
	    <th>Email</th>
	  </tr>
	  <tr th:each="empleado: ${empleados}">
	    <td th:text="${empleado.nombre}"></td>
	    <td th:text="${empleado.puesto}"></td>
	  	<td th:text="${empleado.email}"></td>
	  </tr>
	</table>
	
	<a th:href="@{/add}">Nuevo empleado</a>
</body>
</html>