<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nuevo cliente</title>
</head>
<body>
	<h1>Nuevo cliente</h1>\
	
	<form th:action="@{/nuevo}" th:object="${cliente}" method="post">
		<label>Nombre</label>
		<input type="text" th:field="*{nombre}">
		<label>Calle</label>
		<input type="text" th:field="*{direccion.calle}">
		<label>Ciudad</label>
		<input type="text" th:field="*{direccion.ciudad}">
		
		<button type="submit">Enviar</button>
	</form>
	
	<a th:href="@{/clientes}">Atrás</a>
</body>
</html>